.content{
    background-color: $primary-soft;
    height: 100vh;
    overflow: scroll;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10) inset;
        .header{
            padding: 5px 17px;
            display: flex;
            align-items: center;
            justify-content: space-between;
                .show-side-btn{
                    font-size: 1.3rem;
                    margin-left: 5px;
                }
                .usr-img{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
        }

        .card{
            border: none;
        }
        .card-box{
            transition: 0.4s;
            cursor: pointer;
                &:hover{
                    color: #007bff;
                    transform: translateY(-3px);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .10);
                }
                &:active{
                    transform: scale(1.03);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .10);
                }
        }

        .ov-img{
            margin-left: -25px;
            height: 40px;
        }
        
        .item-box{
            margin-top: -100px;

            ol{
                bottom: -35px;
                    li{
                        background-color:#17a2b8;
                    }
            }
            .item-card {
                .item-img {
                    height: 150px;
                }

                .item-text {
                    margin-top: 80px;
                    text-align: center;

                    h4 {
                        letter-spacing: 1px;
                        font-weight: bold;
                    }
                }
            }
        }

        .sub-list tr{
            transition: 0.3s;
            cursor: pointer;

                &:active{
                    transform: scale(1.02);
                } 
                &:hover{
                    background-color: aliceblue;
                }   
        }
}
